



{% extends 'base.html.twig' %}

{% block body %}


{% for message in app.flashes('info') %}
<div class="alert alert-warning">
    {{message}}
    {% endfor %}
    <div style="display: flex;align-items:center;justify-content: center;" xmlns="http://www.w3.org/1999/html">

        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h1 class="text-white text-capitalize ps-3">Table Arbitre</h1>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Idarb</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nomarb </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Specialite</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Supprimer</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Modifier</th>

                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for arbitre_match in b %}                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">

                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm"> {{arbitre_match.idarb}}</h6>


                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{arbitre_match.nomarb}}</p>
                                        <p class="text-xs text-secondary mb-0"></p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{arbitre_match.specialite}}</p>
                                        <p class="text-xs text-secondary mb-0"></p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{arbitre_match.email}}</p>
                                        <p class="text-xs text-secondary mb-0"></p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-danger"> <a href="{{ path('supp_arb', {'id': arbitre_match.idarb}) }}">Supprimer</a></span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="badge badge-sm bg-gradient-success"> <a href="{{ path('modifierArb', {'id': arbitre_match.idarb}) }}">Modifier</a></span>
                                    </td>

                                </tr>

                                {% endfor %}
                                </tbody>

                                <span class="badge badge-sm bg-gradient-success"> <a href="{{ path('addArb') }}">Ajouter Arbitre</a></span>
</br>
                                <span class="badge badge-sm bg-gradient"> <a href="{{ path('listArb') }}">PDF</a></span>
                            </table>
                            <span class="badge badge-sm bg-gradient-faded-success-vertical">  {{ knp_pagination_render(b) }} </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>
    </div>
{% endblock %}
