{% extends 'dashboard.html.twig' %}




{% block body %}

    <div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 50px;">

        <div class="col-lg-14">

            <div class="card">
                <div class="card-body">
                    <i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i>

                    <h5 class="card-title">Liste des commentaire</h5>

                    {% for message in app.flashes('success')%}
                        <div class="alert alert-success">

                            {{ message }}
                        </div>
                    {% endfor %}

                    <!-- Table with stripped rows -->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>commentaire</th>
                            <th>date </th>
                            <th>note</th>



                        </tr>
                        </thead>
                        <tbody>
                        {% for c in commentaire %}
                            <tr>
                                <td>{{ c.nom }}</td>
                                <td>{{ c.comment }}</td>
                                <td>{{c.dateCom|date('d/m/Y')}}</td>
                                <td>
                                {% if c.note==1  %}
                                    <i style="color:gold " class ='fa fa-star '></i> <i class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i>
                                {% elseif c.note==2 %}
                                    <i style="color: gold" class ='fa fa-star '  ></i> <i style="color: gold" class ='fa fa-star '></i><i class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i>
                                {% elseif c.note==3 %}
                                    <i style="color: gold" class ='fa fa-star '  ></i> <i style="color: gold" class ='fa fa-star '  ></i><i style="color: gold" class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i>
                                {% elseif c.note==4 %}
                                    <i style="color: gold" class ='fa fa-star '  ></i><i style="color: gold" class ='fa fa-star '  ></i> <i style="color: gold" class ='fa fa-star '  ></i><i style="color: gold" class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i>
                                {% else %}
                                    <i style="color: gold" class ='fa fa-star '  ></i> <i style="color: gold" class ='fa fa-star '  ></i><i style="color: gold" class ='fa fa-star '  ></i><i style="color: gold" class ='fa fa-star '  ></i><i style="color: gold" class ='fa fa-star '  ></i>
                                {% endif %}
                                </td>



                                <td>
                                    <a class="btn btn-danger" href="{{ path('deleteC',{'id' : c.id}) }}">Delete</a>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}