




{% extends 'base.html.twig' %}

{% block body %}



    {% block contenpage %}
<div class="example-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Match</h4>
            <p class="card-description"> Gestion de <code>Match</code>
            </p>
            <section class="s-crossfit">
                <div class="container">
                    <h2>Search A Match !!</h2>

                    <div class="sidebar-search">

                        <div class="input-group custom-search-form">

                            <input type="text" id="search" class="form-control" placeholder="Search here">
                        </div>
                        <!-- /input-group -->
                    </div>

                    <div class="row" id="search">

                    </div>
                    <br><br><br><br>
                </div>
            </section>
            <script src="{{ asset('assets/js/jquery.js') }}"></script>
            <script
                    src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')}}">
            </script>
            <script>
                $( document ).ready(function() {
                    var currentRequest = null;
                    $("#search").keyup(function(e){
                        /* La variable value va prendre la valeur insérer dans le champ de texte
                        afin d’effectuer la recherche */
                        var value = $(this).val();
                        if(currentRequest != null) {
                            currentRequest.abort();
                        }
                        /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                        « search » pour faire la recherche */
                        currentRequest = $.ajax({
                            url : "{{ path('offreajax') }}",
                            type : 'GET',
                            data: {
                                'searchValue' : value
                            },
                            success : function(retour)
                            {
                                $('#all').html(retour);
                            },
                        });
                        return false;
                    });
                });
            </script>




























    <div style="display: flex;align-items:center;justify-content: center;">

        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h1 class="text-white text-capitalize ps-3">Table Foot</h1>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Idmatchh</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Typematchh </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Datematchh</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Idarb</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Supprimer</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Modifier</th>

                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for foot in b %}                                    <td>
                                    <div class="d-flex px-2 py-1">

                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm"> {{foot.idmatchh}}</h6>


                                        </div>
                                    </div>
                                </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{foot.typematchh}}</p>
                                        <p class="text-xs text-secondary mb-0"></p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{foot.datematchh}}</p>
                                        <p class="text-xs text-secondary mb-0"></p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{foot.idarb}}</p>
                                        <p class="text-xs text-secondary mb-0"></p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success"> <a href="{{ path('supp_match', {'id': foot.idmatchh}) }}">Supprimer</a></span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="badge badge-sm bg-gradient-success"> <a href="{{ path('modifierMatch', {'id': foot.idmatchh}) }}">Modifier</a></span>
                                    </td>

                                    </tr>

                                {% endfor %}
                                </tbody>
                                <span class="badge badge-sm bg-gradient-success"> <a href="{{ path('addMatch') }}">Ajouter Match</a></span>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <span class="badge badge-sm bg-gradient"> <a href="{{ path('listMatch') }}">PDF</a></span>
        <a href="{{path('trie1') }}"><i class="btn btn-danger" data-feather="arrow-down"></i>ascendant date</a>
        <a href="{{path('trie3') }}"><i class="btn btn-danger" data-feather="arrow-down"></i>ascendant type</a>
    </div>
        </div>
    </div>
    </div>
{% endblock %}
            {% endblock %}



































