<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GoodGames | 404</title>

    <meta name="description" content="GoodGames - Bootstrap template for communities and games store">
    <meta name="keywords" content="game, gaming, template, HTML template, responsive, Bootstrap, premium">
    <meta name="author" content="_nK">

    <link rel="icon" type="image/png" href="{{ asset ('assets/images/favicon.png')}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset ('assets/vendor/bootstrap/dist/css/bootstrap.min.css')}}">

    <!-- FontAwesome -->
    <script defer src=""{{ asset ('assets/vendor/fontawesome-free/js/all.js"></script')}}">
    <script defer src="{{ asset ('assets/vendor/fontawesome-free/js/v4-shims.js')}}"></script>

    <!-- IonIcons -->
    <link rel="stylesheet" href="{{ asset ('assets/vendor/ionicons/css/ionicons.min.css')}}">

    <!-- Flickity -->
    <link rel="stylesheet" href="{{ asset ('assets/vendor/flickity/dist/flickity.min.css')}}">

    <!-- Photoswipe -->
    <link rel="stylesheet" type="text/css" href="{{ asset ('assets/vendor/photoswipe/dist/photoswipe.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset ('assets/vendor/photoswipe/dist/default-skin/default-skin.css')}}">

    <!-- Seiyria Bootstrap Slider -->
    <link rel="stylesheet" href="{{ asset ('assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css')}}">

    <!-- Summernote -->
    <link rel="stylesheet" type="text/css" href="{{ asset ('assets/vendor/summernote/dist/summernote-bs4.css')}}">

    <!-- GoodGames -->
    <link rel="stylesheet" href="{{ asset ('assets/css/goodgames.css')}}">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ asset ('assets/css/custom.css')}}">

    <!-- END: Styles -->

    <!-- jQuery -->
    <script src="{{ asset ('assets/vendor/jquery/dist/jquery.min.js')}}"></script>


</head>


<!--
    Additional Classes:
        .nk-page-boxed
-->
<body>



<div class="nk-main">



    <div class="nk-fullscreen-block">
        <div class="nk-fullscreen-block-top">
            <div class="text-center">
                <div class="nk-gap-4"></div>
                <div class="nk-gap-2"></div>
            </div>
        </div>
        <div class="nk-fullscreen-block-middle">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <h1 class="text-main-1" style="font-size: 50px;">SUCCESS!</h1>

                        <div class="nk-gap"></div>
                        <h6> WELL DONE
                        </h6>
                        <h2 class="h4">PAYMENT APPROVED!</h2>
                        <h7>Thanks for your order!</h7>
                        <div>We would appreciate your business!
                            <br>
                            If you have any questions, please email  <br>
                            <a href="mailto:administration@ESTN.tn">administration@ESTN.tn</a></div>
                        <div class="nk-gap-3"></div>

                        <a href="{{ asset ('/')}}" class="nk-btn nk-btn-rounded nk-btn-color-white">Return to Homepage</a>
                    </div>
                </div>
                <div class="nk-gap-3"></div>
            </div>












        </div>