{% extends 'base.html.twig' %}


{% block body %}




    <div class="row">
    <div class="col-12">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3"> Stock</h6>
                <span style="display: flex;align-items: center;justify-content: center; width: 150px" class="badge badge-sm bg-gradient-success"><a href="{{ path('display_CategorieStock') }}"> Categorie Stock</a></span>
                <span style="display: flex;align-items: center;justify-content: center; width: 150px" class="badge badge-sm bg-gradient-success"><a href="{{ path('add') }}"> ajouter Stock</a></span>

            </div>
        </div>



                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="">nom</th>
                                <th class="">prix</th>
                                <th class="">quantite</th>
                                <th class="">categorie</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for s in stocks  %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{s.nom}}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs font-weight-bold mb-0">{{s.prix}}</p>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs font-weight-bold mb-0">{{s.quantite}}</p>
                                            </div>
                                        </div>
                                    </td>
{#                                    <td>#}
{#                                        <div class="d-flex px-2 py-1">#}
{#                                            <div class="d-flex flex-column justify-content-center">#}
{#                                                <img src="{{ asset('uploads/stock_image/'~s.image) }}" style="width: 30%;height: 30%"/>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </td>#}
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs font-weight-bold mb-0">{{s.category.nom}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>

                                    </td>


                                    <td class="">


                                        <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{{ path('suppression',{'id':s.idpro}) }}"><i class="material-icons text-sm me-2">delete</i>Delete</a>
                                        <a class="btn btn-link text-dark px-3 mb-0" href="{{ path('modification',{'id':s.idpro}) }}"><i class="material-icons text-sm me-2">edit</i>Edit</a>
                                        <a class="btn btn-link text-dark px-3 mb-0" href="{{ path('detail_stock',{'id':s.idpro}) }}"><i class="material-icons text-sm me-2">info</i>detail</a>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}